@media screen and (max-width: 826px) {
   .login{
        display: grid;
    }

    #first_col{
        display: none;
    }

    #second_col{
        padding: 0px 20px 0px 20px;
    }

}


body{
    margin: 0 auto;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Images/Atari_Collage.jpg);
    backdrop-filter: blur(1px);
}

.card{
    max-width: 960px;
    max-height: 720px;
    border-color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn{
    background: #e51b24;
    color: white;
}

a{
    color: #e51b24;
}

#email,#password{
    border-color: rgba(60, 60, 60, 0.213);
}

.form-control:focus{
    box-shadow: 0 0 2px #e51b24;
}